.App {
    width: 90%;
    margin: auto;
    padding: 1rem;
}

.barContainer {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Poiret One', cursive;
    font-size: 4rem;
    padding-top: 2rem;
    flex: 1;
    align-self: center;
    text-align: center;
}

.resultText{
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
}

@media only screen and (min-width: 900px) {
    .App {
        width: 60%;
        padding: 2rem;
    }
}